* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("../img/img1.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

#menu {
	background-color: rgb(37, 37, 39);
}

#menu ul {
	max-width: 550px;
	list-style: none;
	padding: 0;	
}

#menu ul li{
	display: inline;
}

#menu ul li a{
	color: #FFF;
	text-decoration: none;
	padding: 32px;
	display: inline-block;
	transition: background .8s;
	font-family: Arial;
	
}

#menu ul li a:hover{
	background-color: rgb(255, 0, 0);
}

h1 {
	padding-top: 50px;
	padding-left: 30px;
	
}

#titab {
	padding-left: 600px;
	padding-bottom: 30px;
}

p {
	padding-top: 20px;
	padding-left: 65px;
	padding-right: 400px;
	font-family: Arial;
	font-size: 18px;
	text-align: justify;
	text-indent: 50px;
	line-height: 1.5;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 60%;
 }

 td {
 	height: 55px;
 	text-align: center;
 	font-family: Arial;
 	font-size: 18px;
 	line-height: 1.5;
 }

 th {
 	height: 70px;
 	font-family: Arial;

 }